{
  "parser": "babel-eslint",
  "extends": [
    "hapi",
    "standard-react"
  ],
  "plugins": [
    "babel"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4]
  }
}
