language: node_js

node_js:
  - "6"

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run lint
  - npm run test
  - NODE_ENV=dev npm run deploy
  - NODE_ENV=staging npm run deploy
  - NODE_ENV=production npm run deploy

